* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(47, 88%, 63%);
  font-weight: 600;
}

/* contain settings */
.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 374px;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 8px 8px 0 hsl(0, 0%, 7%);
}

img {
  display: block;
  max-width: 100%;
}

/* button  creation*/
.card-btn {
  color: hsl(0, 0%, 7%);
  font-weight: 800;
  padding: 6px 10px;
  border-radius: 3px;
  background: hsl(47, 88%, 63%);
  margin-top: 16px;
}

/* text designs */
.pub-date {
  font-size: 16px;
  color: hsl(0, 0%, 7%);
  margin-top: 16px;
}

.blog-head {
  color: hsl(0, 0%, 7%);
  font-weight: 800;
  font-size: 20px;
  margin-top: 16px;
}

.blog-post {
  margin-top: 16px;
  font-size: 16px;
  color: hsl(0, 0%, 42%);
  line-height: 1.8;
}

/* layout desire */
.user-name {
  color: hsl(0, 0%, 7%);
  font-weight: 800;
  font-size: 16px;
}

.user-data {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-image {
  width: 54px;
}
/* footer design */
.attribution {
  font-size: 20px;
  text-align: center;
  margin-top: 16px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
